extends layout

block content
  .globalGroupContainer
    br
    .mainTilte
      h2 Liste des groupes
        button.btn.btn-default.glyphicon.glyphicon-refresh.btn-xs#grpList(type='button' title='Rafraichir')
    .ManageContainer
      button.btn.btn-primary.spaceButtonAddGroup.glyphicon.glyphicon-plus(type='button', data-toggle='modal', data-target='#ModalGroup' title='Ajouter')
    br
    br
    .MainContainer
      table.table.table-hover
        thead.inlineTilte
          tr
            th Nom du groupe
            th Gid
            th Membres
            th Gestion
        tbody#listGroup
