extends layout

block content
  .globalContainer
    br
    h2 Liste des groupes
    br
    .ManageContainer
      button.btn.btn-default.glyphicon.glyphicon-refresh#grpList(type='button')
      button.btn.btn-primary.spaceButtonAdd.glyphicon.glyphicon-plus(type='button', data-toggle='modal', data-target='#ModalAddgroup')
    br
    br
    .MainContainer
      table.table.table-hover
        thead
          tr
            th Nom du groupe
            th Gid
            th Membres
            th Gestion
        tbody#listGroup
