extends layout

block content
  .globalContainer
    br
    .mainTilte
      h2 Liste des utilisateurs
        button.btn.btn-default.glyphicon.glyphicon-refresh.btn-xs#userList(type='button' title='Rafraichir')
    .ManageContainer
      button.btn.btn-primary.spaceButtonAddUser.glyphicon.glyphicon-plus(type='button', data-toggle='modal', data-target='#ModalAddUser' title='Ajouter')
    br
    br
    .MainContainer
      table.table.table-hover
        thead
          tr
            th N°
            th Utilisateur
            th Mot de passe
            th Uid
            th Gid
            th Répertoire personnel
            th Shell
            th Gestion
        tbody#listUser

