extends layout

block content
  .globalContainer
    br
    h2.centerContent Liste des utilisateurs
    br
    .MainContainer
      table.table.table-hover
        thead
          tr
            th N°
            th Utilisateur
            th Mot de passe
            th Uid
            th Gid
            th Répertoire personnel
            th Shell
            th Gestion
        tbody#listUser
    br
    .ManageContainer.centerContent
      button.btn.btn-default#userList(type='button') Rafraichir
      button.btn.btn-primary.spaceButtonAdd(type='button', data-toggle='modal', data-target='#ModalAddUser') Ajouter
