extends layout

block content
  .globalContainer
    br
    h2 Liste des utilisateurs
    br
    .ManageContainer
      button.btn.btn-default.glyphicon.glyphicon-refresh#userList(type='button')
      button.btn.btn-primary.spaceButtonAdd.glyphicon.glyphicon-plus(type='button', data-toggle='modal', data-target='#ModalAddUser')
    br
    br
    .MainContainer
      table.table.table-hover
        thead
          tr
            th N°
            th Utilisateur
            th Mot de passe
            th Uid
            th Gid
            th Répertoire personnel
            th Shell
            th Gestion
        tbody#listUser

