/*
 ****** ProFTPd Manager *******
*/

.errorBorder{
  border: 1px solid red !important;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.globalContainer{
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.modalWidth{
  width: 300px !important;
  margin-right: auto;
  margin-left: auto;
}
.modalEdit{
  width: 380px;
  margin-right: auto;
  margin-left: auto;
}

#ErrorGroup,
#SuccessGroup,
#ErrorUser,
#SuccessUser{
  display: none;
}
.spaceButtonAddUser{
  float: right;
  margin-right: 37px;
}
.spaceButtonAddGroup{
  float: right;
  margin-right: 158px;
}
.delUsr{
  margin-left: 5px;
}
.delGrp{
  margin-left: 5px;
}
.centerContent,
.alerteUser,
.alerteGroup{
  text-align: center;
}
.disposition{
  display: inline-flex;
}
.dispLabel{
  width: 310px;
  text-align: right;
  padding: 7px;
}
.mainTilte{
  width: 325px;
}
#grpList,
#userList{
  margin-left: 10px
}
.infoGid{
  color: red;
  cursor: pointer;
}