/*
 ****** ProFTPd Manager *******
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.globalUserContainer{
  width: 1190px;
  margin-right: auto;
  margin-left: auto;
}
.globalGroupContainer{
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.inlineTilte{
  white-space: nowrap;
}
.modalWidth{
  width: 300px !important;
  margin-right: auto;
  margin-left: auto;
}
.modalEdit{
  width: 380px;
  margin-right: auto;
  margin-left: auto;
}
.errorBorder{
  border: 1px solid red !important;
}

#ErrorGroup,
#SuccessGroup,
#ErrorUser,
#SuccessUser{
  display: none;
}
.spaceButtonAddUser{
  float: right;
  margin-right: 60px;
}
.spaceButtonAddGroup{
  float: right;
  margin-right: 124px;
}
.delUsr{
  margin-left: 5px;
}
.delGrp{
  margin-left: 5px;
}
.centerContent,
.alerteUser,
.alerteGroup{
  text-align: center;
}
.disposition{
  display: inline-flex;
}
.dispLabel{
  width: 310px;
  text-align: right;
  padding: 7px;
}
.mainTilte{
  width: 325px;
}
#grpList,
#userList{
  margin-left: 10px
}
.infoGid{
  color: red;
  cursor: pointer;
}