extends layout

block content
  br
  .btn-group
      button.btn.btn-default(type='button') Refresh
      button.btn.btn-default(type='button',data-toggle='modal', data-target='#ModalAddgroup') Add
      button.btn.btn-default(type='button') Delete
  br
  h3 Liste des groupes