extends layout

block content
  br
  .btn-group
      button.btn.btn-default(type='button') Refresh
      button.btn.btn-default(type='button' ,data-toggle='modal', data-target='#ModalAddUser') Add
      button.btn.btn-default(type='button') Delete
  br
  h3 Liste des utilisateurs
  .MainContainer
